{
  "extends": [
    "standard",
    "@mia-platform/eslint-config-mia"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {},
  "env": {
    "mocha": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": 2,
    "no-unused-vars": "off",
    "object-curly-spacing": [2, "never"],
    "sort-imports": "off",
    "max-len": "off",
    "operator-linebreak": [2, "after"],
    "quote-props": ["error", "as-needed"],
    "func-style": "off",
    "no-eq-null": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
