{
  "extends": [
    "standard",
    "@mia-platform/eslint-config-mia"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {},
  "env": {
    "mocha": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "id-blacklist": "off",
    "id-length": "off",
    "no-console": 2,
    "no-unused-vars": "off",
    "object-curly-spacing": [2, "always"],
    "sort-imports": "off",
    "max-len": "off",
    "operator-linebreak": [2, "after"],
    "quote-props": ["error", "as-needed"],
    "func-style": "off",
    "no-eq-null": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "camelcase": "off",
    "space-before-function-paren": ["error", "always"],
    "require-atomic-updates": "off",
    "max-statements": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        },
        "multilineDetection": "brackets"
      }
    ]
  }
}
