**/node_modules
/.pnp
.pnp.js

coverage

build
dist

.vscode
.idea/
.DS_Store
.env*
config.*
!config.d.ts
!config.schema.json
!config.example.json
!examples/**/config.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.scannerwork

test-results
media
